/* setting styles to the container */

.trafficTop {
    background-color: black;
    width: 20px;
    height: 60px;
    margin: auto;
}

.container {
    background-color: black;
    width: 100px;
    height: 210px;
}

#red {
    background-color: red;
    padding: 30px;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 7px;
    border: 0px
    
}

/* .redLight:hover {
    box-shadow: 0px 0px 53px 5px rgba(255, 255, 255, 1);
} */

#yellow {
    background-color: yellow;
    padding: 30px;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 5px;
    border: 0px
}

/* .yellowLight:hover {
    box-shadow: 0px 0px 53px 5px rgba(255, 255, 255, 1);
} */

#green {
    background-color: green;
    padding: 30px;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 5px;
    border: 0px
}

/* .greenLight:hover {
    box-shadow: 0px 0px 53px 5px rgba(255, 255, 255, 1);
} */
.selected {
    box-shadow: 0px 0px 179px 101px rgba(255,255,255,1);
}

.selected2 {
    box-shadow: 0px 0px 179px 101px rgba(255, 255, 255, 1);
}

.selected3 {
    box-shadow: 0px 0px 179px 101px rgba(255, 255, 255, 1);
}